/* UTILITY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('../img/default-pattern.png');
}

#container {
  width: 1000px;
  margin: auto;
}

.float_left {
  float: left;
}

.mt_20 {
  margin-top: 20px;
}

.mb_20 {
  margin-bottom: 20px;
}

/* SEZIONE HEADER */
header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.header_top h1 {
  font-size: 28px;
  font-weight: 600;
}

.header_top {
  position: relative;
  height: 380px;
  border: 10px solid white;
  background-image: url('../img/header_bg.jpg');
  background-size: cover;
}

.header_logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_logo img {
  width: 50%;
}

/* SEZIONE NAVBAR */
nav {
  width: 100%;
  height: 44px;
  background: #504741;
  /* position: absolute;
  bottom: 0;
  left: 0; */
}

.navbar ul {
  list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0 10px;
  line-height: 44px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: 600;
  padding: 0 5px;
}

.menu li:hover {
  background: lightgrey;
}

.menu li a:hover {
  text-decoration: underline;
}

/* SEZIONE MAIN */
main::after {
  content: "";
  display: table;
  clear: both;
}

.col_left, .col_right {
  width: 20%;
  /* background: white; */
}

.rounded_box {
  border-radius: 10px;
  background: white;
  padding: 5px;
}

p {
  line-height: 2em;
  font-weight: 500;
}

/* SEZIONE SINISTRA */
.col_header::after {
  content: "";
  display: table;
  clear: both;
}

.col_left i {
  padding-right: 10px;
  font-size: 30px;
  color: orange;
}

.col_left h2 {
  font-weight: 600;
  width: 60%;
  color: #504741;
  font-weight: 500;
}

#list_left{
  list-style: none;
  padding: 10px;
}

ul#list_left li {
  padding-bottom: 15px;
}

ul#list_left li a {
  color: green;
  text-decoration: none;
  font-weight: 500;
}

ul#list_left li a:hover {
  background: rgba(80, 71, 65, 0.4);
  text-decoration: underline;
}

/* SEZIONE CENTRALE */
.col_center {
  width: 50%;
  margin: 0 5%;
  padding: 20px;
}

.col_center h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: #504741;
  text-shadow: 2px 2px lightgrey;
  margin-bottom: 30px;
}

/* SEZIONE DESTRA */
.widget {
  padding: 20px;
  margin-bottom: 20px;
}

.col_right h2 {
  font-weight: 500;
  color: #504741;
  margin-bottom: 30px;
}

/* SEZIONE FOOTER */
footer {
  height: 200px;
  background: red;
}
